.asset {
  &__description {
    //display: flex;
    //justify-content: space-between;
  }

  &__title {
    background: $athensGray;
  }

  &__properties-item {
    font-size: 14px;

    &:before {
      content: '-';
      margin-right: 5px;
    }
  }

  &__icon {
    background: $apple;
    border-radius: 50%;
    font-size: 17px;
    height: 36px;
    margin-right: 15px;
    padding: 9px 11px;
    width: 36px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    min-height: 140px;
  }

  &__stat {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin: 0 15px;
  }

  &__stat-bar {
    background: lighten($gray, 4.71);
    border-radius: 12px;
    height: 15px;
    margin-bottom: 50px;
    transform: rotate(-90deg);
    width: 96px;

    &--dosing {
      position: relative;
      &:before {
        background: $black;
        display: block;
        content: ' ';
        height: 1px;
        left: 43px;
        position: absolute;
        top: 7px;
        transform: rotate(-90deg);
        width: 11px;
      }
    }
  }

  &__stat-inner-bar {
    height: 14px;
    border-radius: 12px 0 0 12px;
    margin-top: 1px;

    &--green {
      background: $apple;
    }

    &--red {
      background: $carnation;
    }

    &--full-radius {
      border-radius: 12px;
    }
  }

  &__stat-inner-dot {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-top: 4px;
    position: relative;
    width: 7px;

    &--green {
      background: $apple;
    }

    &--red {
      background: $carnation;
    }
  }

  &__stat-label {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
